.footer {
    height: 140px;
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    color: #000;
    background-color: #FFFAF0;
    border-top: 3px solid $secondarycolor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}